p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.row{
  flex-direction: row-reverse;
}
header{
  direction: rtl;
  text-align: right;
}
main{
  direction: rtl;
  text-align: right;
}
nav{
  direction: rtl !important;
  text-align: right !important;
}
pre{
  direction: ltr !important;
  text-align: left !important;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 1500px !important;
}

h4{
  color: #0c7043;
  font-size: 1.2rem;
}

h3 {
  color: #15b06a;
  font-size: 1.4rem;
}

h1, h2 {
  color: #15b06a;
}

.title {
  color: #13805d;
 }

.subtitle {
  color: #13805d;
}
.inline-figure {
  border: none !important;
}

#book-repo {
  display: none;
}

#book-edit {
  display: none;
}

#book-source {
  display: none;
}

nav[data-toggle="toc"] .nav a.nav-link.active,
nav[data-toggle="toc"] .nav .nav-link.active > li > a {
  background-color: #fff;
  font-weight: bold;
}
